@{
    ViewData["Title"] = "DrinkFinder";
}

@section Scripts {
    <script src="~/js/map.js" type="text/javascript"></script>
    <link href='~/css/map.css' rel="stylesheet" />
}

<div id="map"></div>
